.hoverEffect:hover {
    opacity: 0.75;
}

.selectableObject {
    cursor: pointer;
}

.svg-container {
    width: 100%;
    height: 100%;
}

svg {
    width: 100%;
    height: 100%;
}